<% if @game.current_player_name == @game.player_1_name %>
  <p><%= @game.player_1_name %> attacked <%= @game.player_2_name %></p>
<% else %>
  <p><%= @game.player_2_name %> attacked <%= @game.player_1_name %></p>
<% end %>


<form action="/switch_turn">
  <input type="submit" value="Switch Turn">
</form>
